.required abbr {
  color: #FFCF01;
}

form.session ol, form.user ol {
  list-style-type: none
}

.error {
  color: #AF1F11;
  margin-bottom: 0px;
  padding: 0px;
  border: 0px solid black;
  background: #0f0f0f;
}

.error p {
  margin-bottom: 0em;
}

.formtastic fieldset {
  border: 0px solid black;
  padding: 0px;
  margin: 0px;
}

.formtastic label {
  display: block;
}

.session_links {
  list-style-type: none;
}
.session_links li {
  display: inline
}

.category h2 {
  margin: 0px;
}
