.required abbr {
  color: #FFCF01;
}

form.session ol {
  list-style-type: none
}

.formtastic fieldset {
  border: 0px solid black;
  padding: 0px;
  margin: 0px;
}

.formtastic label {
  display: block;
}

.session_links {
  list-style-type: none;
}
.session_links li {
  display: inline
}
