a:visited {
  color: #FFFFFF; }

a.button, a.button:visited, a.button:hover {
  color: #000000; }

#checkout-summary {
  display: none; }

div#checkout .checkout.completed h2 {
  color: #AFAFAF;
  text-decoration: line-through; }

#product-description {
  display: block;
  float: none;
  width: auto;
  clear: both; }

#product-images {
  float: none; }

#product-images #main-image img {
  position: relative; }

#product-images #main-image {
  float: left; }

ul.thumbnails li {
  width: auto;
  float: right;
  clear: right;
  width: 100px;
  height: 100px;
  text-align: center; }

ul.thumbnails li img {
  position: relative; }

.product-listing li {
  width: 240px;
  height: 230px; }

.product-listing li a.info {
  width: 250px; }
