body {
  background: white;
  background-image: none; }

body.two-col #wrapper {
  background-image: none; }

#header {
  background: transparent url(http://opensprints.org/news/images/logo_picture.jpg) no-repeat scroll 0 -520px;
  height: 131px; }

#wrapper {
  padding: 0; }

.container {
  width: 76em; }

#language-bar {
  display: none !important; }

body {
  margin: 0;
  padding: 0;
  font-size: 65%;
  color: #555555; }

#sidebar li {
  border-bottom: 1px dotted #DDDDDD;
  margin-bottom: 0.3em; }

#sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0.3em 0 0; }

#sidebar {
  padding-right: 0;
  margin-right: 0;
  width: 20em;
  float: right;
  background-color: #EEEEEE;
  font-size: 1.1em;
  padding-top: 2em; }

#sidebar h2 {
  color: #555555;
  font-size: 1.5em;
  margin-bottom: 0;
  font-weight: bold; }

body.two-col #content {
  width: 53em; }

.clearfix {
  clear: both; }

a, a:visited, a:focus, a:active {
  color: #FF0066;
  text-decoration: none; }

a:hover {
  color: #444;
  text-decoration: underline; }
