<h2> Opensprints Stats </h2>
<p>
Welcome to the opensprints stats and storage page. This is a place for opensprints operators all over the world to share information with their racers and with one another. Browse the opertators' profiles for information about contests near and far:
</p>

<p>
  <% User.each do |user| %>
 
  <% end %>
</p>

