.span-5.append-1.menu
  .header
  %ul
    %li
      %span ABOUT
    %li
      %a{:href => "http://opensprints.org/news"} NEWS
    %li
      %a{:href => "http://wiki.opensprints.org"} DOCUMENTATION
    %li
      %a{:href => "http://opensprints.org/forum"} SUPPORT &amp; DISCUSSION
    %li
      %a{:href => "/downloads.html"} DOWNLOADS
    %li
      //%a{:href => "http://store.opensprints.org"} PRODUCTS
      %a{:href => "/contact.html"} PRODUCTS
    %li.louder
      %a{:href => "/contact.html"} CONTACT
  %img{:src => "images/bw_logo_with_text.png"}
.intro.span-14
  .header_clear
  .louder
    WHAT ARE GOLDSPRINTS?
  %hr
  %p
    Events where people race each other on bicycles fixed to rollers. More details can be found at 
    %a{:href => "http://en.wikipedia.org/wiki/Goldsprint" } wikipedia.
   
  .louder
    WHAT IS THE OPENSPRINTS SOLUTION?
  %hr
  %p
    We sell a digital timing system (link to "Purchase") and offer an interactive racing software application (link to "Downloads"). In order to conduct your very own Goldsprints race, you will need to source the following additional items:
    %ul
      %li Computer
      %li Projector + screen or TV (this depends on the video outputs on your computer)
      %li 1 to 4 Rollers with forkstands (recommended). See the wiki page on rollers (link) for more information
      %li 1 to 4 Bikes

  .louder
    WHY IS THE PROJECT CALLED "OPENSPRINTS"?
  %hr
  %p
    The entire development source for the OpenSprints roller racing solution is free and accessible to all. A goal of the project is to promote learning, freedom, and community.
  %p
    We believe in the ideals touted by such organizations as the 
    %a{:href => "http://fsf.org"} Free Software Foundation
    and
    %a{:href => "http://blog.makezine.com/archive/2006/12/the_makers_bill_of_rights.html"} The Maker's Bill of Rights.
    The development source for the OpenSprints solution is available to anyone to study, to modify for custom use, or to contribute enhancements and fixes. Go
    %a{:href => "http://github.com/evanfarrar/opensprints"} here
    for access to the source.
