.span-5.append-1.menu
  .header
  %ul
    %li
      %a{:href => '/about.html'} ABOUT
    %li
      %a{:href => "http://opensprints.org/news"} NEWS
    %li
      %a{:href => "http://wiki.opensprints.org"} DOCUMENTATION
    %li
      %a{:href => "http://opensprints.org/forum"} SUPPORT &amp; DISCUSSION
    %li
      %a{:href => "/downloads.html"} DOWNLOADS
    %li
      //%a{:href => "http://store.opensprints.org"} PRODUCTS
      %a{:href => "/contact.html"} PRODUCTS
    %li.louder
      %span CONTACT
.intro.span-14
  .header_clear
  .louder EMAIL
  %hr
  %p info@opensprints.org
  .louder MAIN TELEPHONE
  %hr
  %p 801 784 8566 
  .louder FAX
  %hr
  %p 801 606 7568
  .louder MAILING ADDRESS
  %hr
  %p 
    %div 1220 Lyman Ct.
    %div Salt Lake City, UT, 84105-1821
