.span-5.append-1.menu
  .header
    %a{:href => 'http://opensprints.org'}
      %img{:src => "http://opensprints.org/images/logo_with_text.png"}
  = partial('navigation', :locals => {:selected => "CONTACT"})
.intro.span-14
  .header_clear
  .louder EMAIL
  %hr
  %p info@opensprints.org
  .louder MAIN TELEPHONE
  %hr
  %p 801 784 8566 
  .louder FAX
  %hr
  %p 801 606 7568
  .louder MAILING ADDRESS
  %hr
  %p 
    %div 1220 Lyman Ct.
    %div Salt Lake City, UT, 84105-1821
