.span-5.append-1.menu
  .header
    %a{:href => 'http://opensprints.org'}
      %img{:src => "http://opensprints.org/images/logo_with_text.png"}
  - @selected = "DOWNLOADS"
  = partial('navigation')
.intro.span-14
  .header_clear
  %img{:src => "http://store.opensprints.org/assets/products/27/product/assembled-kit-w--netbook.jpg"}
  %p We highly recommend you buy one of those really small and cheap $300 netbooks from Acer to dedicate to your goldsprints system. That way there is no risk of anyone else using it improperly, dropping it and/or accidentally downloading a virus before an event.
  %img{:src => "http://store.opensprints.org/assets/products/33/small/opensprints_usb_drive_resize.png"}
  %p Currently the Linux operating system is the best supported option, but before you start twitching when faced with the unknown, you can install everything on a common USB thumb drive (example pictured). We do our best to keep updated installation instructions on our wiki, so please go to...
  %p
    %a{:href => "http://wiki.opensprints.org/index.php?title=Software_Installation"}Software Installation Instructions
  %p If you have any trouble at all, please contact us, if you really want to, we can install a thumb drive for you an mail it out for a nominal fee.
