- @layout = "index"
.span-5.append-1.menu
  - @selected = ''
  = partial('navigation')
.intro.span-14
  %h2.louder
    The revolutions will be digitized
  %h2 OpenSprints is a system of open source hardware, software and instructions for building and running GoldSprints, a style of racing stationary bikes.
  #slideshow
    %img{:src => "images/homepage_image1.png"}
    %img{:src => "images/homepage_image2.png"}
    %img{:src => "images/homepage_image3.png"}
