.body
  %p
    This is a one-man shop on the South Side of Chicago turning out custom steel bicycles.
  %p
    The work is all done by hand.  I use a torch, files and a couple of power tools to get it all done, but in the end it is all tailor-made.
  %p
    I like to bring the tradition of high quality bicycle manufacture back to the great city of Chicago.
  %p
    Custom frames built, steel frame repair and modification done.
.parting
  %div Cheers,
  %div Owen Lloyd
#address
  %div 1048 W 37th Street
  %div Chicago, IL 60608
  %div (773) 551-9064
  %div olloyd1@gmail.com
