%ul
  %li
    =navigation_link("ABOUT","http://opensprints.org/about.html",@selected)
  %li
    =navigation_link("NEWS","http://opensprints.org/news",@selected)
  %li
    =navigation_link("DOCUMENTATION","http://wiki.opensprints.org",@selected)
  %li
    =navigation_link("SUPPORT &amp; DISCUSSION","http://opensprints.org/forum",@selected)
  %li
    =navigation_link("DOWNLOADS","http://opensprints.org/downloads.html",@selected)
  %li
    =navigation_link("PRODUCTS","http://store.opensprints.org",@selected)
  %li.louder
    =navigation_link("CONTACT","http://opensprints.org/contact.html",@selected)
