.CommentBody blockquote
{
   margin:0 0 8px;
   color:#888;
   border-left: 2px solid #efefef;
   padding: 4px 0 4px 4px;
}

.CommentBody blockquote blockquote
{
	margin-left: 4px;
}

.CommentBody blockquote cite
{
   font-weight:bold;
   display: block;
   margin: -4px 2px 2px -4px;
   padding: 1px 4px;
   color:#555;
   background-color: #efefef;
}