!!! XML
!!!
%html
  %head
    /= blueprintcss(:compressed => false)
    = stylesheets("screen", "application")
    %meta{:"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
    %meta{:name => "description", :content => "OpenSprints - Bringing GoldSprints to the Masses"}
    %meta{:name => "keywords", :content => "goldsprints,opensprints,bicycles,DIY"}
    %meta{:name => "author", :content => "Evan Farrar"}
    %meta{:name => "generator", :content => "staticmatic - http://staticmatic.rubyforge.org"}
    %link{:href => "/news/?rss=1", :title => "RSS 0.92", :type => "application/rss+xml", :rel => "alternate"}
    %link{:href => "/news/?atom=1", :title => "Atom 1.0", :type => "application/atom+xml", :rel => "alternate"}
    = javascripts( "jquery-1.3.2.min", "jquery.cycle.lite.min", "application")

    %title opensprints.org - Bringing GoldSprints to the Masses
  %body
    .container
      =yield
    #footer
      %span.button
        %a{:href=>"http://twitter.com/opensprints"} Follow us on twitter
      %span.button
        %a{:href=>"http://www.facebook.com/pages/Goldsprint/36441748980"} Add us on facebook
      %span
        &copy; 2009 OpenSprints L.L.C. Some rights reserved.
        %a{:rel=>"license" :href=>"http://creativecommons.org/licenses/by/3.0/us/"}
          %img{:alt=>"Creative Commons License" :style=>"border-width:0" :src=>"http://i.creativecommons.org/l/by/3.0/us/80x15.png"}
