!!! XML
!!!
%html
  %head
    /= blueprintcss(:compressed => false)
    %link{:rel => "stylesheet", :href => "stylesheets/screen.css", :type => "text/css", :media => "screen, print"}
    = stylesheets
    %meta{:"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
    %meta{:name => "description", :content => "OpenSprints - Bringing GoldSprints to the Masses"}
    %meta{:name => "keywords", :content => "goldsprints,opensprints,bicycles,DIY"}
    %meta{:name => "author", :content => "Evan Farrar"}
    %meta{:name => "generator", :content => "staticmatic - http://staticmatic.rubyforge.org"}
    %link{:href => "/news/?rss=1", :title => "RSS 0.92", :type => "application/rss+xml", :rel => "alternate"}
    %link{:href => "/news/?atom=1", :title => "Atom 1.0", :type => "application/atom+xml", :rel => "alternate"}

    %title opensprints.org - Bringing GoldSprints to the Masses
  %body
    .top.container
      .span-2
      .span-20.header.middle
      .span-2.last
    .container
      .span-5.append-1.menu
        %ul
          %li
            %a{:href => "/about.html"} ABOUT
          %li
            %a{:href => "/news"} NEWS
          %li
            %a{:href => "http://wiki.opensprints.org"} DOCUMENTATION
          %li
            %a{:href => "http://forum.opensprints.org"} SUPPORT &amp; DISCUSSION
          %li
            %a{:href => "/downloads.html"} DOWNLOADS
          %li
            %a{:href => "http://store.opensprints.org"} PRODUCTS
          %li.louder
            %a{:href => "/contact.html"} CONTACT
        %img{:src => "images/bw_logo_with_text.png"}
      .intro.span-14
        .p{:style => "font-size: 24px"}
          =yield
