!!! XML
!!!
%html
  %head
    /= blueprintcss(:compressed => false)
    = stylesheets("screen", "application")
    %meta{:"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
    %meta{:name => "description", :content => "OpenSprints - Bringing GoldSprints to the Masses"}
    %meta{:name => "keywords", :content => "goldsprints,opensprints,bicycles,DIY"}
    %meta{:name => "author", :content => "Evan Farrar"}
    %meta{:name => "generator", :content => "staticmatic - http://staticmatic.rubyforge.org"}
    %link{:href => "/news/?rss=1", :title => "RSS 0.92", :type => "application/rss+xml", :rel => "alternate"}
    %link{:href => "/news/?atom=1", :title => "Atom 1.0", :type => "application/atom+xml", :rel => "alternate"}
    = javascripts( "jquery-1.3.2.min", "jquery.cycle.lite.min", "application")

    %title opensprints.org - Bringing GoldSprints to the Masses
  %body
    .top.container
      .span-2
      .span-20.header.middle
      .span-2.last
    .container
      =yield
